

@charset "utf-8";
/* CSS Document */
/* Main CSS */







header {background-color: green; padding: .5rem 0  .5rem 2%;}




 h1      {
    font-family: 'Rubik Mono One', sans-serif;
    margin-bottom: 0;
    margin-left: 35%;
 
        }

        footer {
            margin: 0;
            padding: 0em;
            text-align: center;
            font-size: 1rem;
            background-color: green;
        }